@media screen and (max-width: 735px) {
  .hideIfSmall {
    width: 0;
    font-size: 0;
  }
}

.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: white;
  height: 40px;
  padding: 20px;
  color: black;
  display: grid;
  grid-template-columns: auto auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Player {
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  color: black;
  box-shadow: 0px 0px 5px black;
  width: 80vw;
  text-decoration: none;
}

#songInfo > h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#songInfo > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actual {
  height: auto;
}

.logopic {
  margin-top: -18px;
  margin-right: 10px;
}
.logotext {
  margin-top: 0px;
}

#logo {
  margin-left: 10vw;
}
#goodBad {
  margin-top: -5px;
  margin-right: 10vw;
  font-size: 25px;
}

#songName {
  padding: 5px;
  margin: 0px;
}

#btnList {
  margin-right: -100px;
}

#startButton {
  width: auto;
  background-color: lightgreen;
  color: white;
}

input {
  font-size: 1.5em;
  padding: 10px;
  box-shadow: 0 0 10px black;
  border-radius: 20px;
}

input:focus {
  outline-style: none;
}

#coverArt {
  height: 35vh;
}

#coverArt:hover {
  box-shadow: 0 0 10px black;
  transition: 0.5s;
}

.songInfo {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

button {
  padding: 10px;
  margin: 20px;
  width: 150px;
  font-size: 1.5em;
  border-radius: 20px;
  background-color: lightgray;
  box-shadow: 0px 0px 10px black;
}

button:hover {
  border-width: 1px;
  border-color: black;
}

button:active {
  box-shadow: 0px 0px 5px black inset;
  box-shadow: 0px 0px 5px black inset;
}

button:focus {
  outline: 0;
}
button.selected {
  background-color: white;
}

.unselected {
  background-color: lightgray;
}

#lists {
  padding: 10px;
}
div#good {
  background-color: lightgreen;
  animation: fadeToGreen;
  animation-duration: 0.5s;
}

@keyframes fadeToGreen {
  0% {
    background-color: black;
  }
  100% {
    background-color: lightgreen;
  }
}

div#bad {
  background-color: red;
  animation: fadeToRed;
  animation-duration: 0.5s;
}

@keyframes fadeToRed {
  0% {
    background-color: black;
  }
  100% {
    backgorund-color: red;
  }
}

div#neutral {
  background-color: black;
}

#buttons {
  color: white;
}

.spotify-player {
  display: none;
}

#link {
  text-decoration: none;
  animation: none;
  color: black;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: black;
}

a#list {
  text-decoration: none;
}

div.song-list:hover {
  background: lightgrey;
}

#buttons > p {
  padding: 0px;
  margin: 0px;
}

#buttons > input {
  margin-top: -5px;
  box-shadow: none;
}
.new {
  position: fixed;
  color: lightgrey;
  opacity: 0.5;

  animation: floatIn;
  animation-duration: 2s;
  top: -100px;
  left: 100px;
}

.Like {
  left: vw/4;
}

.Dislike {
  left: 75%;
}

@keyframes floatIn {
  0% {
    font-size: 100px;
    display: block;
    top: -100px;
  }
  100% {
    font-size: 200px;
    top: 1250px;
    display: none;
  }
}

.top {
  display: grid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

#listTitle {
  color: white;
}

div.mainDiv {
  position: relative;
}
