@media screen and (max-width: 735px) {
  .hideIfSmall {
    width: 0;
    font-size: 0;
  }
}

.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: white;
  height: 40px;
  padding: 20px;
  color: black;
  display: grid;
  grid-template-columns: auto auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Player {
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  color: black;
  box-shadow: 10px 10px;
  width: 80vw;
}

.logopic {
  margin-top: -18px;
  margin-right: 10px;
}
.logotext {
  margin-top: 0px;
}

#logo {
  margin-left: 10vw;
}
#goodBad {
  margin-top: -10px;
  margin-right: 10vw;
}

#btnList {
  margin-right: -100px;
}
.abovePlayer {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  color: white;
  box-shadow: 10px 10px;
  width: 500px;
}

button {
  padding: 10px;
  margin: 20px;
  width: 150px;
  font-size: 1.5em;
  box-shadow: 10px 10px;
  border-radius: 20px;
  background-color: lightgray;
}

.test {
  background-color: red;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

button:focus {
  outline: 0;
}
button.selected {
  background-color: white;
}

.unselected {
  background-color: lightgray;
}

#lists {
  padding: 10px;
}
div#good {
  background-color: green;
}

div#bad {
  background-color: red;
}

div#neutral {
  background-color: black;
}
a#good {
  text-decoration: none;
  color: green;
}

a#bad {
  text-decoration: none;
  color: red;
}

#buttons {
  color: white;
}

.spotify-player {
  display: none;
}

#link {
  text-decoration: none;
  color: black;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: black;
}
/* .justLiked {

} */
